name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # you can trigger the workflow manually

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # - name: Build the Docker image
    #   run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/agile-in-action-minima-docker-image

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

    - name: Push image to Docker Hub
      run: docker push ${{ secrets.DOCKER_USERNAME }}/agile-in-action-minima-docker-image

